.navbar {
    align-items: center;
    display: flex;

}

.logo {
    text-align: center;
    padding: 10px 350px;
    background-color:#00ff22;
}

.name {
    padding: 0px;
}

.nav-button {
    background: linear-gradient(to right, #00ff04, #09d010);
    color: rgb(20, 21, 20);

    margin-left: 10px;
    margin-right: 110px;
    border-radius: 30px;
    margin-top: 5px;
    text-align: center;
    width: 100px;
    padding: 5px 10px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border: none;

}

button:hover {
    background: linear-gradient(to right, #0ed33c,rgb(18, 175, 18));
    transform: scale(1.05);
    color: rgb(211, 210, 210);
}

.home h1 {
    text-align: center;
    font-weight: bolder;
    margin-right: 80px;
    color: #00ff04;
}

.home p {
    text-align: center;
    padding: 50px 100px;
    font-size: 20px;
    color: #09e63c;

}

.student h1 {
    text-align: center;
    font-weight: bolder;
    color: #00ff04;
}

.student table {
    width: 70%;
    text-align: left;
    margin: auto;
    border-collapse: collapse;
    color: rgb(22, 208, 53);
    background-color: #ffffff;
}

.student th,
td {
    border: 2px solid rgb(33, 230, 36);
}

.student th,
.attendance th,
.atrecord th {
    background: #5cdc51;
    color: hsl(0, 0%, 97%);
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

.student td,
.attendance td,
.atrecord td {
    background-color: #ffffff;
    font-weight: bold;
    padding: 10px;
}

.attendance h1 {
    text-align: center;
    font-weight: bolder;
    color: #00ff04;
}

.attendance table {
    width: 70%;
    text-align: left;
    margin: auto;
    border-collapse: collapse;
    color: #1ab81d;
}

.attendance th,
td {
    border: 2px solid black;
}

.atrecord h1 {
    text-align: center;
    font-weight: bolder;
    color: #00ff04;
}

.atrecord table {
    width: 70%;
    text-align: left;
    margin: auto;
    border-collapse: collapse;
    color: #1fb922;

}

.about h1 {
    text-align: center;
    font-weight: bolder;
    color: #00ff04;
    margin-right: 80 px;
}

.about p {
    text-align: center;
    padding: 50px 100px;
    font-size: 20px;
    color: #19c81c;

}

.mark {
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
}

.mark:hover {
    background-color: rgb(225, 255, 0);
    color: black;
}

